In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#Question 1
"""
 Consider the following Dataset containing information regarding alcohol consumption in different countries. An analyst performs different operations to carry out certain tasks to help the analyst in performing the task.
 Which continent drinks more Wine on average? [2 marks]
 For each continent print the statistics for Beer consumption. [2 mark]
 Print the median alcohol consumption per continent for every column. [1 marks]
"""

'\n Consider the following Dataset containing information regarding alcohol consumption in different countries. An analyst performs different operations to carry out certain tasks to help the analyst in performing the task.\n Which continent drinks more Wine on average? [2 marks]\n For each continent print the statistics for Beer consumption. [2 mark]\n Print the median alcohol consumption per continent for every column. [1 marks]\n'

In [3]:
drinks = pd.read_csv("drinks.csv")
drinks.fillna('NA', inplace = True)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [4]:
#Q1 a)
average = drinks.groupby(['continent']).mean()
continent = list(average[['wine_servings']].idxmax())
print("Country that drinks more wine on average:", continent[0])

Country that drinks more wine on average: EU

In [5]:
#Q1 b)
stats = drinks.groupby(['continent'])['beer_servings'].describe()
stats

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA          23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

In [6]:
#Q1 c)
median = drinks.groupby(['continent']).median()
median

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
NA,143.0,137.0,11.0,6.30
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [7]:
#Question 2
"""
Consider a Euro 2012 football tournament.
Football analysts decide certain criteria in order to decide which team has a good chance to win this cup. Your task is to help those analysts by performing some tasks given below.
 Find the teams who are participating in this tournament. [1 marks]
 Find the shooting accuracy of all the teams that have scored more than 5 goals. [1 marks]
 Find the total number of goals scored in the tournament. [1 marks]
 Sort the teams on the basis of goals scored(non-ascending order) [1 marks]
 Find the team with the most number of red cards. [1 marks]
"""

'\nConsider a Euro 2012 football tournament.\nFootball analysts decide certain criteria in order to decide which team has a good chance to win this cup. Your task is to help those analysts by performing some tasks given below.\n Find the teams who are participating in this tournament. [1 marks]\n Find the shooting accuracy of all the teams that have scored more than 5 goals. [1 marks]\n Find the total number of goals scored in the tournament. [1 marks]\n Sort the teams on the basis of goals scored(non-ascending order) [1 marks]\n Find the team with the most number of red cards. [1 marks]\n'

In [8]:
euro = pd.read_csv("Euro_2012_stats_TEAM.csv")
euro

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [9]:
#Q2 a)
teams = list(euro['Team'])
print("Participating teams: ")
for i in teams:
    print(i)

Participating teams:
Croatia
Czech Republic
Denmark
England
France
Germany
Greece
Italy
Netherlands
Poland
Portugal
Republic of Ireland
Russia
Spain
Sweden
Ukraine

In [10]:
#Q2 b)
accuracy = euro.where(euro['Goals'] > 5)[['Team', 'Shooting Accuracy']]
accuracy[~accuracy['Team'].isnull()]

        Team Shooting Accuracy
5    Germany             47.8%
7      Italy             43.0%
10  Portugal             34.3%
13     Spain             55.9%

In [11]:
#Q2 c)
print("Total goals scored in the tournament:", euro['Goals'].sum())

Total goals scored in the tournament: 76

In [12]:
#Q2 d)
euro.sort_values(by = 'Goals', ascending = False)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

In [13]:
#Q2 e)
red_cards = max(list(euro['Red Cards']))
red = euro.where(euro['Red Cards'] == red_cards)[['Team']]
red[~red['Team'].isnull()]

                   Team
6                Greece
9                Poland
11  Republic of Ireland

In [14]:
#Question 3
"""
Consider the given breast cancer dataset from the given google drive link, the last column has the target variable (2 classes: "B" for benign and "M" for malignant) and the remaining columns have the features.
Implement the decision tree algorithm from scratch. You can use the Gini index to decide on the splitting attribute on the breast cancer dataset. Make use of only NumPy, pandas. Calculate the accuracy of the decision tree.
"""

'\nConsider the given breast cancer dataset from the given google drive link, the last column has the target variable (2 classes: "B" for benign and "M" for malignant) and the remaining columns have the features.\nImplement the decision tree algorithm from scratch. You can use the Gini index to decide on the splitting attribute on the breast cancer dataset. Make use of only NumPy, pandas. Calculate the accuracy of the decision tree.\n'

In [15]:
breastCancer = pd.read_csv("wdbc.csv", header = None)
training_data, testing_data = train_test_split(breastCancer, test_size = 0.3, random_state = 30)

training_data = training_data.to_numpy().tolist()
testing_data = testing_data.to_numpy().tolist()

In [16]:
def distinct(rows):
    count = {}
    for row in rows:
        label = row[1]
        if label not in count:
            count[label] = 0
        count[label] += 1
    return count

In [17]:
class Node:
    
    def __init__(self, true_child, false_child, question, rows):
        self.true_child = true_child
        self.false_child = false_child
        self.question = question
        self.rows = rows
        
def gini(rows):
    counts = distinct(rows)
    gini_val = 1
    for i in counts:
        ans = ((counts[i]) / (len(rows))) ** 2
        gini_val = gini_val - ans
    return gini_val
    
def info_gain(ginival, true_child, false_child):
    p = len(true_child) / (len(true_child) + len(false_child))
    info_g = ginival - ((p * gini(true_child)) + ((1 - p) * gini(false_child)))
    return info_g
    
def best_split(rows):
    best_gain = 0
    best_question = None
    current_gini = gini(rows)
    n = len(rows[0])  
    for col in range(n):
        if (col == 1):
            continue
        options = [row[col] for row in rows]
        for val in options:
            question = Classifier(col, val)
            true_child, false_child = splitset(rows, question)
            if (len(true_child) == 0 | len(false_child) == 0): #lite
                continue 
            gain = info_gain(current_gini, true_child, false_child)
            best_gain, best_question = [gain, question] if gain > best_gain else [best_gain, best_question]

    return best_gain, best_question

In [18]:
class Leaf_node:
    def __init__(self, rows):
        self.dataset = distinct(rows)

In [19]:
class Classifier:
    
    def __init__(self, column, value):
        self.column = column
        self.value = value
        
    def match(self, sample):
        val = sample[self.column]
        return val >= self.value

In [20]:
def splitset(dataset, classification):
    matchset, nomatchset = [], []
    for row in dataset:
        if classification.match(row):
            matchset.append(row)
        else:
            nomatchset.append(row)
    return matchset, nomatchset

In [21]:
def build(rows):
    gain, question = best_split(rows)
    if gain == 0:
        return Leaf_node(rows)
    
    matchset, nonmatchset = splitset(rows, question)
    true_child = build(matchset)
    false_child = build(nonmatchset)
    return Node(true_child, false_child, question, rows)

In [22]:
tree = build(training_data)

In [23]:
def decision(inp, node):
    if type(node) is Leaf_node:
        return node.dataset
    
    if node.question.match(inp):
        return decision(inp, node.true_child)
    else:
        return decision(inp, node.false_child)
    
correct_count = 0
for i in testing_data:
    key = list(decision(i, tree).keys())
    if (i[1] == key[0]):
        correct_count += 1
print("Accuracy:", str((correct_count / len(testing_data) * 100)) + "%")

Accuracy: 89.0625%